[submodule "3rdparty/data_structure"]
	path = 3rdparty/data_structure
	url = https://github.com/liuyubobobo/Play-with-Algorithms.git
[submodule "3rdparty/leetcode_go"]
	path = 3rdparty/leetcode_go
	url = https://github.com/halfrost/LeetCode-Go.git
[submodule "3rdparty/leetcode_modern_cpp"]
	path = 3rdparty/leetcode_modern_cpp
	url = https://github.com/kamyu104/LeetCode-Solutions.git
[submodule "3rdparty/play_leetcode"]
	path = 3rdparty/play_leetcode
	url = https://github.com/liuyubobobo/Play-Leetcode.git
