# for C/C++
build
build_doc
/output
.idea
*.iml
.sln
*.swp
.DS_Store
.gradle
third_module
.tmp
*.tmp
.vscode
cmake-build-debug
cmake-build-release
cmake-build-debug-system
build.properties.local
cmake-build*
# for python
*.py[cod]
*.egg
*.egg-info
dist

# for Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# for leetcode online
/src/problems/online

# for interview
/src/interview
